@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');


:root{
    --bg-primary: #272929;
    --bg-secondary: #3A3C3C;
    --primary-color: #447D69;
}

body{
    color: #E6E6E6;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    max-width: 500px;
    max-height: 700px;
    margin: auto;
}

h2{
    font-size: 16.5px !important;
    font-weight: 600 !important;
}

a{
    color: var(--primary-color) !important;
    text-decoration: none;
}

.btn{
    background-color: var(--primary-color);
    width: 100%;
    padding-block: 15px;
    border-radius: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    box-shadow: -10px 2px 14px 0px #0f0f1133;
    transition: all 500ms ease-in-out;
}
.btn:hover{
    box-shadow: none;
    transform: scale(1.02);
}

#expired-bg{
    background-color: #4B3A3A;
    border: 1px solid #755959;
}

.align-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
   
    display: flow-root;
    position: relative;
    /* overflow-y: hidden; */
}



.mobile-hero{
    position: absolute;
    inset: 0;
    /* background: url('../assets/shampoo.png'); */
    object-fit: cover;
    object-position: top center;
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    width: 100%;
    /* height: 250px; */
    height: 800px;
}

.modal-btn{
    position: absolute;
    left: 20%;
    top: 600px;
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    font-size: medium;
    width: 200px;
    padding: 8px 16px;
    border-radius: 20px;
}

#drawer{
    position: absolute;
    animation: slideUp 400ms ease-in forwards;
}

.hide-drawer{
    animation: slideUp 600ms ease-in backwards;
    display: none;
}

/* Animate drawer */

@keyframes slideUp {
    from{top: 600px;}
    to{top: 200px;}
}



.vertical-modal{
    width: 100%;
    height: 100%;
    background: var(--bg-primary) !important;
    position: relative;
    border-radius: 24px 24px 0px 0px;
    /* margin-top: -30px; */
    display: flow-root;
}

.status-icon{
    position: absolute;
    inset-block-start: -5%;
    right: 26px;
}

.modal-contents{
    display: grid;
    row-gap: 32px;
    margin-top: 60px;
}

.modal-header > span{
    background: #3A454B;
    border: 1px solid #3D5663;
    border-radius: 8px;
    padding: 3px 8px;
    display: block;
    width: min-content;
    font-size: 14px;
}

.modal-header > h2{
    margin-top: 12px;
}

.modal-header > div{
    display: flex;
    column-gap: 10px;
    align-items: center;
    margin-top: 12px;
}

.modal-carousel{
    margin-inline: 15px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 290px;
    grid-auto-rows: 307px;
    column-gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
}
/* .modal-carousel::-webkit-scrollbar{
    scroll-snap-type: none;
} */

.modal-expanded{
    margin-inline: 15px;
}

.carousel-cards{
    scroll-snap-align: start;
    overflow: auto;
    border-radius: 24px;
    background: var(--bg-secondary);
    padding: 18px 26px;
    margin-block: 10px;
    display: grid;
    row-gap: 10px;
    display: flow-root;
    box-shadow: 5px 7px 8px 3px #18181963;
}
/* .carousel-cards::-webkit-scrollbar{
    scroll-snap-type: none;
} */
.carousel-cards:hover{
    box-shadow: none;
    transition: box-shadow 500ms ease-in-out;
}

.carousel-card-header{
    display: flex;
    align-items: start;
    justify-content: space-between;
    column-gap: 30px;
    margin-bottom: 8px;
}

.carousel-video{
    scroll-snap-align: start;
    border-radius: 24px;
    background: var(--bg-secondary);
    padding: 18px 26px;
    margin-block: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: 5px 7px 8px 3px #18181963; */
}

.carousel-card-video{
    border-radius: 12px;
    overflow: hidden;
    height: 80%;
}

#referLink{
    color:#B8B8B8;
}

.modal-footer{
    padding-block: 21px;
    text-align: center;
    background-color: var(--bg-secondary);
}
.modal-footer-container{
    display: grid;
    row-gap: 12px;
}

:is(.modal-header, .modal-footer-container) {
    width: 300px;
    margin-inline: auto;
    height: 100%;
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #000000;
  }
  ::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 0px;
  }
  ::-webkit-scrollbar-track:hover {
    background: #666666;
  }
  ::-webkit-scrollbar-track:active {
    background: #333333;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }